<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>About Page</title>
    </head>
    <body>
        {{>header}}
        
        <p>{{pageContent}}</p>
        
        <p>{{screamIt welcomeMessage}}</p>
        
        {{> footer}}
        
    </body>
</html>